@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    :root {
        --primary: #FFFFFF;
        --on-primary: #000000;
        --secondary: #faf0e6;
        --on-secondary: #faffaf;
        --animation-time: 30s;
        --animation-image-size: min(75vw, 350px);
        --animation-scale: 4;
        --copyright-height: 20px;
        --rotation-deg: 20deg;
      }

    .food-grid {
        animation: slide var(--animation-time) infinite;
        overflow: hidden;
        background: url("/food_grid.png") repeat 0 0; 
        background-size: var(--animation-image-size);
        /* animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0); */
    }

    @keyframes slide {
        /* left to right */
        0% {
          background-position-x: 0px;
          background-position-y: 0px;
        }
        50% {
          background-position-x: calc(var(--animation-image-size) * var(--animation-scale));
          background-position-y: calc(var(--animation-image-size) * -1 * var(--animation-scale));
        }
        0% {
          background-position-x: 0px;
          background-position-y: calc(var(--animation-image-size) * -2 * var(--animation-scale));
        }
        /* right to left */
      }
}